body {
    margin: 0;
    padding: 0;
    background-color: #e9d0b3;
    color: #463f3f;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.tile {
    width: 100%;
    background-color: #5c7fb8;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e9d0b3;
}

.tile-share-button svg {
    margin-left: -8px;
    margin-top: 10px;
}


.image-container {
    height: 96px;
    width: 96px;
    border-radius: 8px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 10px 10px;
    width: 44px;
    height: 44px;
    fill: #302c2c

}

footer {
    position: fixed;
    bottom: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: x-small;

}